[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://google-coral.github.io/py-repo/"
verify_ssl = false
name = "tflite"

[packages]
pandas = "*"
scikit-learn = "*"
tflite-runtime = "*"
numpyencoder = "*"
tensorflow = "==2.6.2"

[dev-packages]

[requires]
python_version = "*"
